<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/meta') %>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include ('partials/navbar') %>
    <form action="/user" method="get">
      <div
        class="container text-center m-auto top-50 bottom-50 start-0 end-0 position-absolute"
      >
        <div class="row justify-content-center">
          <div class="col-2"><label for="username">USERNAME </label></div>
          <div class="col-2">
            <input type="text" name="username" id="username" />
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-2"><label for="password">PASSWORD</label></div>
          <div class="col-2">
            <input type="password" name="password" id="password" />
          </div>
        </div>
        <div class="row justify-content-center text-end">
          <div class="col-2 my-3">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
